page-edit-address{
       .item-md{
        width: 100% !important;
    }
    .item-md.item-block .item-inner {
     padding-right: 0px; 
}        .item-wp{
        width: 100% !important;
    }
    .item-wp.item-block .item-inner {
     padding-right: 0px; 
}        .item-ios{
        width: 100% !important;
    }
    .item-ios.item-block .item-inner {
     padding-right: 0px; 
}
}