page-wallet-transactions{
      .even{
        background: whitesmoke;
        color: map-get($colors,primary);
    }
    .odd{
        background:white;
        color: map-get($colors,primary);;
    }
   .header2{
    font-weight: bold;
    background:  map-get($colors,primary);
    color: white;
     padding-bottom: 15px;
    padding-top: 15px;
     text-align: center;
   }
   .col{
    align-items: center;
    text-align: center;
   }
   .label {
    font-size: 16px;
       font-weight: normal;
    color:  map-get($colors,primary); 
    margin-left: 0%; 
    }
    ion-item{
        width:100%!important;
        text-align: center;
    }
}