page-profile-edit{
  .item-md{
        width: 100% !important;
    }
    .item-md.item-block .item-inner {
     padding-right: 0px; 
    border-bottom: 1px solid #dedede;
}    .item-ios{
        width: 100% !important;
    }
    .item-ios.item-block .item-inner {
     padding-right: 0px; 
    border-bottom: 1px solid #dedede;
}    .item-wp{
        width: 100% !important;
    }
    .item-wp.item-block .item-inner {
     padding-right: 0px; 
    border-bottom: 1px solid #dedede;
}
}