page-order-details{
    .scroll-content{
        overflow: auto;
    }

  .item-wp {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 16px;
}
}
  img{
        margin-left:5%;
    }