page-address-select{
    .scroll-content{
        overflow: hidden;
    }
    .row{
        align-items: center;
    }
    .icon{
        font-size: 35px;
        font-weight: bold;
    }
    .label-md {
    color: #666666 !important;
    margin: 4px 8px 0px 5%!important;
    font-size: 15px;
    }
    .label-ios {
        color: #666666 !important;
        margin: 4px 8px 0px 5%!important;
        font-size: 15px;
    }
}