page-wallet-offers{
 .scroll-content{
    overflow: hidden;
}
.label-md {
    color: map-get($colors,dark);
    margin: 0px 8px 0px 5%!important;
     font-size: 15px; 
}   
[col-1] {
    background-color:  map-get($colors,primary);
    height: 100px!important;
    padding: 0px;
    margin: 0px;
}
[col-2] {
    padding-top: 32px;
    background-color: gray;
    height: 100px;
    text-align: center!important;
    vertical-align: middle;
}
}