page-patient-select{
    .row{
        align-items: center;
    }
    .scroll-content{
        overflow: auto;
}
.label-md {
    color: #666666 !important;
    margin: 4px 8px 0px 5%!important;
    font-size: 15px;
}
.label-ios {
    color: #666666 !important;
    margin: 4px 8px 0px 5%!important;
    font-size: 15px;
}
}